<h1>Customers in alphabetical order</h1>

<nav>
  <%= link_to "all customers", root_path %> |
  <%= link_to "missing email", customers_missing_email_path %>
</nav>

<% @customers.each do |customer| %>
  <%= render partial: "customer", locals: { customer: customer } %>
<% end %>